{% assign sorted_pages = site.pages | sort: "order" %}
{% for node in sorted_pages %}
  {% if group == null or group == node.group %}
    {% if page.url == node.url %}
      <li class="active"><a style="margin-bottom:.25em;" href="{{ node.url | relative_url }}">{{ node.navtitle }}<span class="sr-only">(current)</span></a></li>
    {% else %}
      <li class="false"><a style="margin-bottom:.25em;" href="{{ node.url | relative_url }}">{{ node.navtitle }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
