<div class="container mt-3"></div>

<footer class="footer mt-auto bg-warm-gray text-center">
    <div class="container py-4">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 text-center-xs text-left-not-xs mt-2">
          
            <img src="{{ site.baseurl }}/arizona-philosophy.png" width="330px" height="auto" style="padding-bottom: 1em;" alt="UA Philosophy">

        </div>

        <div class="col-xs-12 col-sm-7 col-md-8 mt-2 text-center-xs text-right-not-xs mt-2">

            <p class="text-ash mt-1" style="font-weight: 500;">
              <a href="https://philosophy.arizona.edu/">Department of Philosophy</a><br />
              The University of Arizona<br />
              Tucson, AZ 85721
            </p>

            <p class="text-ash mt-1" style="font-weight: 500;"><script language="JavaScript" type="text/javascript">
                var fem = "femphilaz";
                var arr = "@";
                var phil = "gmail";
                var dot = ".";
                var arizona = "com";
                var s = " ";
                document.write("Contact:" + s + "<a href=" + "mail" + "to:" + fem + arr + phil + dot + arizona
                    + ">" + fem + arr + phil + dot + arizona + "</a>");
            </script></p>

            <small class="text-ash">Visit us on <a href="https://github.com/dingherself/femphilaz">GitHub</a></small>

        </div>
      </div>
    </div>
  </footer>