<div class="text-center" id="footer_copyright">
    <img src="{{ site.baseurl }}/arizona-philosophy.png" width="250px" height="auto" style="padding-bottom: 1em;" alt="UA Philosophy">
    <p><script language="JavaScript" type="text/javascript">
        var fem = "femphilaz";
        var arr = "@";
        var phil = "gmail";
        var dot = ".";
        var arizona = "com";
        var s = " ";
        document.write("<strong>Contact:</strong>" + s + "<a href=" + "mail" + "to:" + fem + arr + phil + dot + arizona
            + ">" + fem + arr + phil + dot + arizona + "</a>");
    </script></p>
    <p>Department of Philosophy   |   The University of Arizona   |   Tucson, AZ 85721</p>
</div>