<!-- Latest icon font stylesheet -->
<link rel="stylesheet" href="https://cdn.digital.arizona.edu/lib/ua-brand-icons/v2.0.1/ua-brand-icons.min.css">
<!-- Compiled and minified UA Bootstrap CSS, icon font not included -->
<link rel="stylesheet" href="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.30/ua-bootstrap.min.css">

{% include favicons.html %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149272101-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127390411-1');
  </script>
