<header id="region_header_ua" class="l-arizona-header bg-red">
    <section class="container l-container">
        <div class="row">
        <a href="http://philosophy.arizona.edu" title="University of Arizona Department of Philosophy">
            <!--  <img alt="The University of Arizona Wordmark Line Logo White" src="https://cdn.uadigital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg" class="arizona-line-logo">-->
            <p class="text-warm-gray text-size-h4 margin-align-middle" style="font-weight: 500; margin-left: 1em;">Arizona Philosophy</p>
            </a>
        </div>
    </section>
</header>

<div id="l_page">
  <div id="header_site">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div id="site_identifier">
            <!--  <a href="#"><img src="img/placeholder-logo.png"></a> -->
            <p class="text-blue text-size-h2 margin-align-middle" style="font-weight: 500;">Arizona Feminist Philosophy Graduate Conference</p>
          </div>
        </div>
        <!--
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <div id="utility_links">
                <ul>
                  <li><a href="https://philosophy.arizona.edu/">UA Philosophy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>