<div class="container mt-4 mb-2">
      <a class="sr-only sr-only-focusable" id="skippy" href="#content">Skip to main content</a>

      <nav class="navbar sticky-top navbar-expand-lg navbar-light">
          <div class="row">
            <div class="col-xs-12">
              <button class="navbar-toggler btn btn-lg" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="navbar-nav mr-auto">
                {% assign pages_list = site.pages %}
                {% assign group = 'navigation' %}
                {% include pages_list.html %}
                <li class="nav-item dropdown">
                  <button class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    Past Programs & Recordings
                  </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% assign pages_list = site.pages %}
                      {% assign group = 'conference' %}
                      {% include conferences_list.html %}
                    </ul>
                  </li>
              </ul>
            </div>
         </div>
      </nav>
</div>